@import "tailwindcss";

@theme {
  --color-brand-primary: #DC2626;
  --color-brand-dark: #111827;
  --color-brand-light: #FFFBEB;
  --color-brand-accent: #F59E0B;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFBEB;
  color: #111827;
}